body{
  padding: 0px;
  margin: 0px;
  font-family: "Arial", Arial, sans-serif;
}
#navbar{
  height:75px;
  width: 100%;
  background-color: #B40404;
  color:white;
}
#sp-nav{
  background-color: grey;
  color: white;
}
#sp-nav li{
  text-decoration: none;
  list-style-type: none;
  padding:10px;
  color: white;
}
#sp-nav a:link {
  text-decoration: none;
  color: white;
}
#sp-nav a:visited {
  text-decoration: none;
  color: white;
}
#sp-nav a:hover {
  text-decoration: underline;
  color: white;
}
#sp-nav a:active {
  text-decoration: underline;
  color: white;
}
#sp-page{
  background-color: white;
  color: black;
}
#menuButton{
  position: relative;
  border:none;
  height: 25px;
  width: 25px;
  margin:25px;
  background: url(../assets/images/menuButton1.png) no-repeat center;
  background-size: 25px 25px;
}