<div class="col-md-12">
    <div id="details-container">
        <div id="group-name">
            {{group.name}}
        </div>
        <div id="group-description">
            <i>{{group.description}}</i>
            <div id="group-leaders">
                <div class="admin-leader-text">Leader(s):&nbsp;</div>
                <div class="admins-list" ng-repeat="admin in group.admins">{{admin.name}}&nbsp;</div>
            </div>
        </div>
        <div id="group-members">
            <u>Members</u>
            <div class="scrollbox">
                <div class="scrollarea">
                    <div id= "{{$index}}" class="userBox" ng-repeat="user in group.users">
                         <div class="mask"><img src="{{user.profileUrl}}"></div>
                         {{user.name}}
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div id="leader-update-container" ng-show="isAdmin">
        <form id="addGroup" ng-submit="updateGroup(groupDetails)">  
            Group Name: <input type="text" name="group-name" class="input-text" ng-model="groupDetails.groupName"><br>
            Group Description: <input type="text" name="group-description" class="input-text" ng-model="groupDetails.groupDescription"><br>
            <input name="Submit" type="submit" value="Update"/>              
        </form>
    </div>
</div>