

#details-container{
  text-align:center;
}
#group-name{
  font-size:3em;
  text-align: center;
}

#group-description{
  text-align:center;
  font-size:1.25em;
}

#leader-update-container{
  margin-top:2em;
}
#group-leaders{
  text-align:center;
  font-size:0.75em;
}
.admin-leader-text{

}
.admins-list{
}
.scrollbox {
  height: 6.5em;
  overflow-y: hidden;
}

#group-members{
  margin-top:1em;
}

.scrollarea {
  background-color: transparent;
  height: 10em;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.userBox {
  display: inline-block;
  padding-left: 0.4em;
  padding-right: 0.4em;
  width: auto;
  height: auto;
  float: center;
}

.mask {
  margin-right: 0.9em;
  height: 5em;
  width: 5em;
  border-radius: 10em;
  overflow: hidden;
}