<div ng-controller="AddEventCtrl">
  <div style="display:inline-block">
    <datepicker ng-model="date" min-date="minDate" show-weeks="true" class="well well-sm" />
  </div>
  <timepicker ng-model="time" hour-step="hstep"
              minute-step="mstep" show-meridian="ismeridian" />
  Duration: <input type="number" ng-model="duration"> minutes<br>
  Location: <input type="text" ng-model="location" required><br>
  Notes: <input type="text" ng-model="notes" required><br>
  <button ng-click="createEvent()">Create</button>
</div>
