<div class="col-md-12">
	<div ng-show="!has_event">
	    No upcoming events
	</div>
	<div class="logisticsContainer" ng-show="has_event">
	    <div class="attendeeBox">
	        <h2 id="attendingheader">Attending</h2>
	        <div class="scrollbox">
	            <div class="scrollarea">
	                <div id= "{{$index}}" class="userBox" ng-repeat="user in event.attendees">
	                     <div class="mask"><img src="{{user.profileUrl}}"></div>
	                     {{user.name}}
	                </div>
	            </div>
	        </div> 
	        <div class="attendingfooter">
	            {{event.attendees.length}} coming so far!
	        </div>
	    </div>
	    <div class="headerBox">
	        <h2 id="infoHeader">LEADER</h2>
	        <h2 id="infoHeader">PLACE</h2>
	        <h2 id="infoHeader">TIME</h2>
	    </div> 
	    <div class="infoBox">   
	        <div id="infoDetails">{{event.leader.name}}</div>
	        <div id="infoDetails">{{event.location}}</div>
	        <div id="infoDetails">{{event.time | date:'EEEE @ hh:mm a'}}</div>
	    </div>
	    <h2 id="commentHeader">Leader's Comments</h2>
	    <div class="commentBox">
	        {{event.notes}}
	    </div>
	    <div class="rsvpButtonYes">
	        <h2 id="yes_button" ng-click="rsvp('yes')" class="rsvpButtonTextUnselected">Going</h2>
	    </div>
	    <div class="rsvpButtonNo">
	        <h2 id="no_button" ng-click="rsvp('no')" class="rsvpButtonTextUnselected">Not going</h2>
	    </div>
	</div>
</div>
