<script type="text/javascript" src="client/services/prayer.js"></script>
<link rel="stylesheet" href="stylesheets/addPrayer.css" />
<link rel="stylesheet" href="stylesheets/application.css" />

<div> {{ title }} </div>

<form id="addPrayerForm" onSubmit="$('#addPrayerSubmit').click();">  
	Prayer or Praise? <br>
	<input type="radio" name="type" value="prayer" id="form_prayer">Prayer<br>
	<input type="radio" name="type" value="praise" id="form_praise">Praise<br><br>

	Title: <input type="text" name="title" id="form_title"><br>
	Description: <textarea name="description" form="addPrayerForm" id="form_description"></textarea><br><br>
	<input name="Submit" type="submit" value="Add"/>
</form>

<a id="addPrayerSubmit" href="#/prayers"></a>