<link rel="stylesheet" href="stylesheets/application.css" />

<div class="loading"><img src="assets/images/loading_wheel.gif" height="25" width="25"></div> 
<div>
  Details for Prayer ID: {{prayer.id}} <br>
  {{prayer.user.name}} <br>
  <img src="{{prayer.user.profileUrl}}"> <br>
  {{prayer.title}} <br>
  {{prayer.content}}
  <ul>
    <li ng-repeat="comment in prayer.comments"> {{comment.text}}</li>
  </ul>
  <input type="text" ng-model="new_comment" />
  <button ng-click="addCommentToPrayer()" />
</div>