<script type="text/javascript" src="client/services/prayer.js"></script>
<script type="text/javascript" src="client/services/user.js"></script>
<link rel="stylesheet" href="stylesheets/prayerList.css" />
<link rel="stylesheet" href="stylesheets/application.css" />

<script src="lib/jquery/src/jquery.js"></script>
<script src="lib/jquery-ui/ui/datepicker.js"></script>

<div> {{ title }} </div>
<div class="loading"><img src="assets/images/loading_wheel.gif" height="25" width="25"></div> 
<ul>
  <li ng-repeat="prayer in prayers">
    <a href="#prayers/{{prayer.id}}">
      {{ prayer.user.name }}: {{ prayer.title }}
    </a>
  </li>
</ul>
<!-- style this link into a button later --> 
<div id="addPrayer"><a href="#/addprayer">addPrayer</a></div>
