<script type="text/javascript" src="client/services/application.js"></script>
<script type="text/javascript" src="client/services/user.js"></script>
<link rel="stylesheet" href="stylesheets/application.css" />
<link rel="stylesheet" href="stylesheets/profile.css" />

<div> {{ title }} </div>
<div class="loading"><img src="assets/images/loading_wheel.gif" height="25" width="25"></div> 
<div>
  <br>Profile for Prayer ID: {{user.id}} <br>
  name: {{user.name}} <br>
  profile: {{user.profileUrl}} <br>
  <img src="{{user.profileUrl}}"> <br>
  groups: {{user.groups}}
</div>